<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a12</key>
	<dict>
		<key>animalName</key>
		<string>RaccoonDog</string>
		<key>type</key>
		<integer>1</integer>
		<key>future</key>
		<false/>
		<key>right</key>
		<false/>
		<key>goal</key>
		<false/>
	</dict>
	<key>a11</key>
	<dict>
		<key>animalName</key>
		<string>Tiger</string>
		<key>type</key>
		<integer>2</integer>
		<key>future</key>
		<false/>
		<key>right</key>
		<false/>
		<key>goal</key>
		<true/>
	</dict>
	<key>a10</key>
	<dict>
		<key>animalName</key>
		<string>Lion</string>
		<key>type</key>
		<integer>3</integer>
		<key>future</key>
		<false/>
		<key>right</key>
		<false/>
		<key>goal</key>
		<false/>
	</dict>
	<key>a9</key>
	<dict>
		<key>animalName</key>
		<string>BlackPanther</string>
		<key>type</key>
		<integer>1</integer>
		<key>future</key>
		<true/>
		<key>right</key>
		<false/>
		<key>goal</key>
		<true/>
	</dict>
	<key>a8</key>
	<dict>
		<key>animalName</key>
		<string>Cheetah</string>
		<key>type</key>
		<integer>3</integer>
		<key>future</key>
		<true/>
		<key>right</key>
		<false/>
		<key>goal</key>
		<false/>
	</dict>
	<key>a7</key>
	<dict>
		<key>animalName</key>
		<string>Monkey</string>
		<key>type</key>
		<integer>2</integer>
		<key>future</key>
		<true/>
		<key>right</key>
		<false/>
		<key>goal</key>
		<true/>
	</dict>
	<key>a6</key>
	<dict>
		<key>animalName</key>
		<string>Fawn</string>
		<key>type</key>
		<integer>1</integer>
		<key>future</key>
		<true/>
		<key>right</key>
		<true/>
		<key>goal</key>
		<false/>
	</dict>
	<key>a5</key>
	<dict>
		<key>animalName</key>
		<string>Wolf</string>
		<key>type</key>
		<integer>2</integer>
		<key>future</key>
		<true/>
		<key>right</key>
		<true/>
		<key>goal</key>
		<true/>
	</dict>
	<key>a4</key>
	<dict>
		<key>animalName</key>
		<string>Pegasus</string>
		<key>type</key>
		<integer>3</integer>
		<key>future</key>
		<true/>
		<key>right</key>
		<true/>
		<key>goal</key>
		<false/>
	</dict>
	<key>a3</key>
	<dict>
		<key>animalName</key>
		<string>Sheep</string>
		<key>type</key>
		<integer>1</integer>
		<key>future</key>
		<false/>
		<key>right</key>
		<true/>
		<key>goal</key>
		<true/>
	</dict>
	<key>a2</key>
	<dict>
		<key>animalName</key>
		<string>Elephant</string>
		<key>type</key>
		<integer>3</integer>
		<key>future</key>
		<false/>
		<key>right</key>
		<true/>
		<key>goal</key>
		<false/>
	</dict>
	<key>a1</key>
	<dict>
		<key>animalName</key>
		<string>Koala</string>
		<key>type</key>
		<integer>2</integer>
		<key>future</key>
		<false/>
		<key>right</key>
		<true/>
		<key>goal</key>
		<true/>
	</dict>
</dict>
</plist>
